requires = [ "tox>=4.32", "tox-uv>=1.29" ]
env_list = [ "3.12", "3.13", "3.14", "coverage", "docs", "package", "style", "type" ]

[env_run_base]
description = "run tests"
runner = "uv-venv-lock-runner"
uv_python_preference = "only-managed"
dependency_groups = [ "test" ]
package = "wheel"
wheel_build_env = ".pkg"
commands = [ [ "pytest", "--basetemp={env_tmp_dir}" ] ]

[env.coverage]
description = "report coverage"
base_python = [ "3.12" ]
depends = [ "3.12", "3.13", "3.14" ]
dependency_groups = [ "test" ]
package = "skip"
commands = [
    [ "coverage", "erase" ],
    [ "coverage", "run", "-m", "pytest", "--basetemp={env_tmp_dir}" ],
    [ "coverage", "combine"],
    [ "coverage", "report" ],
]

[env.docs]
description = "build the documentation"
base_python = [ "3.12" ]
dependency_groups = [ "docs" ]
package = "editable"
commands = [
    [ "sphinx-build", "--builder=html", "--fail-on-warning", "--fresh-env", "docs",
    { replace = "posargs", default = [ "docs{/}_build{/}html" ], extend = true } ]
]

[env.serve]
description = "serve the documentation"
base_python = [ "3.12" ]
dependency_groups = [ "docs" ]
package = "editable"
commands = [
    [ "sphinx-autobuild", "--open-browser", "--ignore=docs{/}_build{/}*", "--watch=src{/}",
    "docs{/}", "docs{/}_build{/}html" ]
]

[env.package]
description = "build and check distributions"
base_python = [ "3.12" ]
dependency_groups = [ "package" ]
package = "skip"
commands = [
    [ "uv", "build", "--sdist", "--wheel" ],
    [ "twine", "check", "dist{/}*" ],
    [ "check-wheel-contents", "--no-config", "dist{/}" ],
]

[env.style]
description = "check using linter and formatter"
runner = "uv-venv-runner"
base_python = [ "3.12" ]
dependency_groups = [ "style" ]
package = "skip"
commands = [
    [ "ruff", "format", "--check" ],
    [ "ruff", "check" ],
]

[env.fix]
description = "run linter and formatter"
base = [ "style" ]
commands = [
    [ "ruff", "format" ],
    [ "ruff", "check", "--fix" ],
]

[env.type]
description = "run type checking"
base_python = [ "3.12" ]
dependency_groups = [ "type" ]
package = "skip"
commands = [ [ "pyright" ] ]