name: continuous-integration

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  schedule:
    - cron: "0 8 * * 0"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: test ${{ matrix.py }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.12"
          - "3.13"
          - "3.14"
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
      - name: Install tox with tox-uv
        run: uv tool install --python-preference=only-managed --python=3.12 tox --with tox-uv
      - name: Install Python
        if: matrix.env != '3.12'
        run: uv python install --python-preference=only-managed ${{ matrix.env }}
      - name: Setup test environment
        run: tox run -vv --notest --skip-missing-interpreters=false -e ${{ matrix.env }}
      - name: Run tests
        run: tox run --skip-pkg-install -e ${{ matrix.env }}
      - name: Upload coverage data
        uses: actions/upload-artifact@v5
        with:
          name: coverage-data-${{ matrix.python-version }}
          path: .coverage.*
          if-no-files-found: ignore
          include-hidden-files: true

  check:
    name: check ${{ matrix.tox_env }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        tox_env:
          - package
          - docs
          - lint
          - type
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
      - name: Install tox with tox-uv
        run: uv tool install --python-preference=only-managed --python=3.12 tox --with tox-uv
      - name: Setup test environment
        run: tox run -vv --notest --skip-missing-interpreters=false -e ${{ matrix.env }}
      - name: Run tests
        run: tox run --skip-pkg-install -e ${{ matrix.env }}

  coverage:
    name: report coverage
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
      - name: Download coverage data
        uses: actions/download-artifact@v6
        with:
          pattern: coverage-data-*
          merge-multiple: true